<!-- templates/expenses.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Manage Expenses</h2>
<form action="/add_expenses" method="POST">
    <h3>Add Expense</h3>
    <label for="yearDate">Year:</label>
    <input type="text" id="yearDate" name="yearDate" maxlength="4" pattern="\d{4}" required><br><br>

    <label for="monthDate">Month:</label>
    <input type="text" id="monthDate" name="monthDate" maxlength="2" pattern="\d{1,2}" required><br><br>

    <label for="dayDate">Day:</label>
    <input type="text" id="dayDate" name="dayDate" maxlength="2" pattern="\d{1,2}" required><br><br>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required><br><br>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required><br><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br><br>

    <input type="submit" value="Submit">
</form>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for one_expense in expenses %}
            <tr>
                <td>{{ one_expense["date"] }}</td>
                <td>{{ one_expense["category"] }}</td>
                <td>{{ one_expense["amount"] }}$</td>
                <td>{{ one_expense["description"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}