{% extends 'base.html' %}

{% block content %}
<h2>Manage Expenses</h2>
<details>
    <summary>Add Expense</summary>
    <form action="/add_expenses" method="POST">
        <label for="fullDate">Date:</label>
        <input type="date" id="fullDate" name="fullDate" required><br><br>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="" disabled selected>Select a category</option>
            {% for category in all_expense_categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br><br>

        <input type="submit" value="Submit">
    </form>
</details>

<div>
    <br>
    <details>
        <summary>Search expenses</summary>
    <form action="{{ url_for('search_in_expenses') }}" method="GET">
        <select id="search_wey" name="search_wey" required>
            <option selected disabled>Select a wey to search</option>
            <option value="date">Date</option>
            <option value="category">Category</option>
            <option value="description">Description</option>
        </select>
        <input type="text" id="string_search" name="string_search" placeholder="Enter search term" required>
        <button type="submit" class="button">Search</button>
    </form>
    </details>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for idx, one_expense in my_expenses %}
            <tr>
                <td>{{ one_expense["date"] }}</td>
                <td>{{ one_expense["category"] }}</td>
                <td>{{ one_expense["amount"] }}$</td>
                <td>{{ one_expense["description"] }}</td>
                <td>
                    <form action="{{ url_for('delete_expense', idx=idx) }}" method="POST">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}