<!-- templates/income.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Manage Income</h2>
<details>
    <summary>Add Income</summary>
    <form action="/add_income" method="POST">
        <label for="fullDate">Date:</label>
        <input type="date" id="fullDate" name="fullDate" required><br><br>

        <label for="source">Source:</label>
        <input type="text" id="source" name="source" required><br><br>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br><br>

        <input type="submit" value="Submit">
    </form>
</details>
<div>
    <br>
    <details>
        <summary>Search incomes</summary>
    <form action="{{ url_for('search_in_incomes') }}" method="GET">
        <select id="search_wey" name="search_wey" required>
            <option selected disabled>Select a wey to search</option>
            <option value="date">Date</option>
            <option value="source">Source</option>
            <option value="description">Description</option>
        </select>
        <input type="text" id="string_search" name="string_search" placeholder="Enter search term" required>
        <button type="submit" class="button">Search</button>
    </form>
    </details>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for idx, one_income in incomes %}
            <tr>
                <td>{{ one_income["date"] }}</td>
                <td>{{ one_income["source"] }}</td>
                <td>{{ one_income["amount"] }}$</td>
                <td>{{ one_income["description"] }}</td>
                <td>
                    <form action="{{ url_for('delete_income', idx=idx) }}" method="POST">
                        <button type="submit" class="button small">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}