{% extends 'base.html' %}

{% block content %}
<h1>Found Income</h1>
<table border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Description</th>
            <th class="top-tablet"></th>
        </tr>
    </thead>
    <tbody>
        {% for idx, one_income in filter_incomes %}
        <tr>
            <td>{{ one_income["date"] }}</td>
            <td>{{ one_income["source"] }}</td>
            <td>{{ one_income["amount"] }}$</td>
            <td>{{ one_income["description"] }}</td>
            <td>
                <form action="{{ url_for('delete_income', idx=idx) }}" method="POST">
                    <button type="submit" class="button small">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('income') }}"><button class="button">Back to Income Page</button></a>
{% endblock %}